@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<h1>Todo List</h1>
<h4>Add a todo</h4>
<form asp-page="Index" method="post" class="form-inline">
    <input type="text" id="Description" name="Description" class="form-control" placeholder="Description" />
    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add</button>
</form>
<div asp-validation-summary="All"></div>
<h4>Current Todo's</h4>

@if (!Model.Todos.Any())
{
<p class="empty">The list is empty</p>
}
else
{
<ul class="list-unstyled">
@foreach (var todo in Model.Todos)
{
    <li>
        <form method="post" asp-page="Index" asp-page-handler="Remove">
            <input type="hidden" name="Id" value="@todo.Id" />
            <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span></button> @todo.Description
        </form>
    </li>
}
</ul>
}
<style>
    .validation-summary-errors ul {
        list-style-type: none;
        color: red;
        padding:0;
        margin:0;
    }
    .empty {
        color: lightgray;
    }
</style>